@primario-color: White; 
@secundario-color:  rgb(201, 237, 247);
@3t-color:  rgb(167, 250, 167);
@4t-color:  rgb(243, 242, 158);


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden{
  display: none;
}


.Nd-1198{
  // background-color:@primario-color;
}

.Nd-1301{
  // background-color: @secundario-color;
}

.cabeClass0{
  background-color: rgb(255, 255, 255);
}

.cabeClass1{
  background-color:@primario-color;
}
.cabeClass2{
  background-color: @secundario-color;
}
.cabeClass3{
  background-color: @3t-color;
}
.cabeClass4{
  background-color: @4t-color;
}