@secundario-color:  #dfd;
@primario-color: rgb(240, 228, 210); 


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden{
  display: none;
}


.Nd-1198{
  background-color:@primario-color;
}

.Nd-1301{
  background-color: @secundario-color;
}